# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Folders
node_modules/
/node_modules
logs/
/logs
output/
/output
.idea/
scraper/__pycache__/
utils/__pycache__/

# Files
.env
.DS_Store

# Serverless directories
.serverless